.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget-header {
background: $blue;
color: $off-white;
display: flex;
justify-content: space-between;
padding: $m-size;
}

.widget-header__title {
    margin:0px;
}

.widget__message {
    border-bottom: 1x solid lighten($color: $light-blue, $amount: 10%);
    color:$off-white;
    margin: 0px;
    padding: $m-size;
    text-align: center;
}
